In [1]:
import os
import pandas as pd
import requests
import sys

from flickplay.test import get_alchemy_con, get_pymysql_con
from flickplay.ETL import get_data_between

ModuleNotFoundError: No module named 'flickplay.test'

In [2]:
os.getcwd()

'/Users/allen/Developer/clo/flickplay/mixpanel-events/update_tables'

In [5]:
con = get_alchemy_con()

pd.read_sql('''SHOW DATABASES;''',con)

             Database
0                 fpa
1  information_schema
2               mysql
3  performance_schema
4                 SAS
5                 sys

In [ ]:
df = pd.read_sql("""SELECT * FROM fpa.events WHERE date<='2022-06-01';""", con)